@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;


.search-input-wrapper {
    display: none;
    align-items: center;
    width: 180px;
    margin-top: 3px;

    @include md {
        display: flex;
    }
}

.search-icon {
    margin-right: 2px;
    color: var(--primary-text-color);
}

.search-input {
    width: 100%;
    height: 100%;

    .MuiAutocomplete-inputRoot {
        padding-right: 0 !important;
    }

    .MuiInputBase-input {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 2px !important;
        color: var(--primary-text-color) !important;
    }

    .MuiInput-underline:before {
        border-bottom-color: var(--primary-text-color);
        border-bottom-width: 1px;
    }

    .MuiInput-underline:after {
        border-bottom-color: var(--primary-text-color);
    }
}