@use '../../styles/markdown-style'as *;
@use 'prismjs/themes/prism-tomorrow'as *;

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}