@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.post-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  @include content-horizontal-padding;
  margin-bottom: 20px;

  .post-content {
    display: flex;
    flex-direction: column;
    @include content-max-width;
  }
}
