@use '../../styles/mixins' as *;

.bio-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    @include padding;
    
    .bio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include max-width;

        @include md {
            flex-direction: row;
        }

        .introduction{ 
            display: flex;
            flex-direction: column;
            word-break: keep-all;

            .title {
                font-weight: 100;
                font-size: 42px;
                line-height: 1.2;
                
                strong {
                    font-weight: 600;
                    font-size: 42px;
                }
            }
    
            .description {
                margin-top: 10px;
                font-weight: 100;
                font-size: 22px;
                line-height: 1.5;
            }
        }

        .video {
            display: none;
            width: 250px;

            @include sm {
                display: block;
            }
        }
    }
}