@use '../../styles/mixins'as *;

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;

  color: var(--primary-text-color);

  @include md {
    flex-direction: row;
    align-items: center;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    word-break: keep-all;

    .react-rotating-text-cursor {
      animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
    }

    strong {
      display: inline-block;
      font-weight: 600;
    }

    &.korean {
      font-weight: 100;
      font-size: 32px;
      line-height: 1.2;

      .title {
        .react-rotating-text-cursor {
          font-size: 35px;
          line-height: 35px;
        }
      }

      @include md {
        font-size: 40px;

        .title {
          .react-rotating-text-cursor {
            font-size: 45px;
            line-height: 45px;
          }
        }
      }


    }

    &.english {
      font-family: 'montserrat';
      font-size: 25px;
      line-height: 1.2;

      @include md {
        font-size: 45px;
      }

      .name {
        font-size: 35px;
        font-weight: 600;
      }

      .job {
        font-size: 35px;
      }

      .description {
        font-weight: 200;
        margin-top: 8px;
        font-size: 20px;
      }

      .social-links {
        margin-top: 20px;
        display: flex;
      }
    }
  }

  .thumbnail-wrapper {
    display: none;

    @include md {
      display: block;
    }
  }
}