@use '../../styles/mixins'as *;

.category-page-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .category-page-title {
    width: fit-content;
    padding-bottom: 7px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-bottom: 3px solid var(--primary-text-color);
  }

  .category-page-subtitle {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}