@use '../../styles/mixins' as *;

.post-cards-grid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  @include padding;

  .post-cards-grid {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;

    @include max-width;
    @include md {
      display: grid;
      grid-template-columns: 49.3% 49.3%;
      column-gap: 1.4%;
      row-gap: 15px;
    }
  }
}
