@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  top: 0px;
  width: 100%;

  .post-tabs {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    max-width: $content-max-width + 40px;
    margin-bottom: 12px;

    .mui-tabs {
      .MuiTab-root {
        height: 40px;
        min-height: auto;
        min-width: auto;
        padding: 10px 12px;
        font-family: $font-family;
        color: var(--tab-text-color);
        font-weight: 500;
        font-size: 17px;
        transition: all 200ms ease;

        :hover {
          color: var(--tab-hover-text-color);
          transition: all 200ms ease;
        }
      }

      .Mui-selected {
        background-color: var(--tab-selected-background-color);
        color: var(--tab-hover-text-color);
        border-radius: 8px;
        font-weight: 600;
        transition: all 200ms ease;
      }

      .MuiTabScrollButton-root {
        height: 40px;
        width: 20px;
      }

      .MuiTabs-scrollable {
        height: 40px;
      }

      .MuiTabs-indicator {
        display: none;
      }
    }
  }


}