// light mode colors
html {
  --background-color: #ffffff;
  --primary-text-color: #000;
  --secondary-text-color: #9e9e9e;
  --content-text-color: rgb(55, 53, 47);

  --button-background-color: #f3f3f4;
  --button-text-color: #363f47;

  --tab-text-color: #6e6d7a;
  --tab-hover-text-color: #0d0c22;
  --tab-selected-background-color: rgba(13, 12, 34, 0.05);

  --bio-link-icon-color: rgba(0, 0, 0, 0.54);
  --about-link-icon-color: #a8a8a8;

  --chip-background-color: #f3f3f4;
  --link-text-color: rgb(55 53 47 / 70%);
  --post-card-border-color: rgba(0, 0, 0, 0.12);

  --markdown-table-even-cell-background-color: #f6f8fa;
  --markdown-table-border-color: #dfe2e5;
  --markdown-blockquote-border-color: #dfe2e5;
  --markdown-border-color: #e1e4e8;
}

// dark mode colors
html[data-theme='dark'] {
  --background-color: #232326;
  --primary-text-color: #e6e6e6;
  --secondary-text-color: #768390;
  --content-text-color: #e6e6e6;

  --button-background-color: #444c56;
  --button-text-color: #363f47;

  --tab-text-color: #768390;
  --tab-hover-text-color: #acbac7;
  --tab-selected-background-color: #373e47;

  --chip-background-color: #323a42;
  --bio-link-icon-color: #e6e6e6;
  --about-link-icon-color: #a8a8a8;

  --link-text-color: #90b0ec;
  --post-card-border-color: #363f47;

  --markdown-table-even-cell-background-color: #2d333b;
  --markdown-table-border-color: #444c56;
  --markdown-blockquote-border-color: #4f5864;
  --markdown-border-color: #e1e4e8;
}