* {
  box-sizing: border-box;
  appearance: none;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  background: var(--background-color);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  color: var(--link-text-color);
}