$font-family: 'NotoSansKR', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
$screen-max: 720px;
$post-max: 720px;
$content-padding: 15px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;