@use '../../styles/mixins'as *;

.dark-mode-button-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
}

.dark-mode-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #363f47 !important;
    cursor: pointer;
    box-shadow: 0px 5px 25px rgb(0 0 0 / 12%);
    backdrop-filter: blur(30px);
    z-index: 3;
}

.dark-mode-icon {
    color: white;
}