.post-cards-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .post-cards {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 15px;
        row-gap: 15px;

        width: 100%;
        max-width: var(--max-width);
        
        .post-card {
            display: flex;
            flex-direction: column;

            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 6px;
            padding: 20px;

            .title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 7px;
            }
            
            .description {
                font-size: 13px;
                margin-bottom: 10px;
                line-height: 1.4;
                
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .info {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.54);

                .date {

                }
                
                .categories {

                }
            }

        }
    }
}