@use '../../styles/mixins'as *;

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include content-max-width;
    }
}