@use '../../styles/mixins'as *;

.posts-page-body-wrapper {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;

  .posts-page-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    .tabs-wrapper {
      display: flex;
    }
  }
}