@use '../../styles/mixins' as *;

.posts-page-body-wrapper {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  @include padding;

  .posts-page-body {
    display: flex;
    flex-direction: column;
    @include max-width;

    .tabs-wrapper {
      display: flex;
    }
    .vertical-tabs-wrapper{
      display: none;
    }

    @include md {
      flex-direction: row;
  
      .tabs-wrapper {
        display: none;
      }
      .vertical-tabs-wrapper{
        display: flex;
        margin-left: 20px;
      }
    }
  }

  

  
}
