@use '../../styles/mixins'as *;

.post-navigator {
  display: grid;
  width: 100%;
  grid-template-columns: 49.3% 49.3%;
  column-gap: 1.4%;

  .post-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--post-card-border-color);
    border-radius: 6px;
    padding: 15px;

    color: var(--primary-text-color);

    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    &.prev {
      margin-right: auto;
    }

    &.next {
      margin-left: auto;
    }

    .direction {
      font-size: 14px;
      font-weight: 500;
      color: grey;
      margin-bottom: 5px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 7px;
      line-height: 1.4;
    }
  }
}