@use '../../styles/mixins'as *;

.page-header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;


  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include content-max-width;

    .link {
      font-weight: 700;
      font-size: 17px;
      color: var(--primary-text-color);

      @include md {
        font-weight: 700;
        font-size: 20px;
      }
    }

    .trailing-section {
      display: flex;
      align-items: center;

      .link {
        margin-right: 10px;

        @include md {
          margin-right: 20px;
        }
      }


    }
  }
}