@use '../../styles/mixins' as *;

.section-header-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
    @include padding;

    .section-header {
        @include max-width;
        font-weight: 600;
        font-size: 17px;
        color: #000000;
    }
}