@use '../../styles/mixins'as *;

.post-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  padding-bottom: 10px;
  border-bottom: 1px solid var(--post-card-border-color);

  margin-top: 20px;
  margin-bottom: 40px;
  word-break: keep-all;

  .emoji {
    font-size: 78px;
    margin-bottom: 20px;
  }

  .categories {
    margin-bottom: 5px;

    .category {
      margin-right: 4px;
      font-weight: 600;
      color: var(--primary-text-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    font-weight: 600;
    font-size: 32px;
    color: var(--primary-text-color);
    margin-bottom: 6px;
    line-height: 1.3;
  }

  .info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-text-color);

    .author {
      margin-right: 4px;
    }

    strong {
      color: var(--primary-text-color);
      font-weight: 600;
    }
  }
}